$font-stack: Arial, sans-serif;
$font-color: #08667E;
$background-color: #F6DDCC;
$menu-color: #CD6155;
$border-radius: 8px;
$theme: false;


$dark-font-color: #F6DDCC;
$dark-background-color: #08667E;

@mixin button($width){
    width: $width;
}
.animation{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-animation{
    display: flex;
    column-gap: 1.5em;
    justify-content: center;
}
footer{
    font-size: 0.9em;
    margin-left: 15%;
}
.charts{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8em;
}
#secondChart{
    max-width: 500px;
    max-height: 500px;
}
#firstChart{
    max-width: 800px;
    max-height: 500px;
}
#map{
    width: 450px;
    height: 300px;
}

@media (prefers-color-scheme: dark){
    $theme: true;
    *{
        font: 100% $font-stack;
        color: $dark-font-color;
        line-height: 1.5;
    }
    body{
        background-color: darken($dark-background-color, 10%);
    }
    h1{
        font-size: 1.4em;
    }
    h3{
        font-weight: 600;
        font-size: 1.2em;
    }
    .big-header{
        .headmenu{
            a{
                color: $dark-font-color;
                border: $dark-background-color;
                text-decoration: none;
                padding: 0.5em;
                border-radius: 10px;
            } 
            } 
            .headmenu{
                a:hover{
                    background-color: $dark-background-color;
                    color: lighten($dark-font-color, 10%);
                    border: darken($dark-background-color, 10%);
                }
            }
    }
    .smaller-screen{
        nav{
            background-color: darken($dark-background-color, 10%);
            box-shadow: 0 0px 10px gray;
            position: absolute;
            right:0;
            top:0;
            height:100vh;
            width:100vw;
            display: none;
        } 
        ul{
            width: 100%;
            list-style-type: none;
            text-align: center;
            margin: 0 auto;
            padding: 0;
        }
        li{
            padding: 0.8em 0;
            width: 100%;
            color: $dark-font-color;
            list-style: none;
            text-decoration: none;
        }
        a{
            color: $dark-font-color;
            text-decoration: none;
            padding: 0 1em;
            background-color: transparent;
        }
    }
    .smaller-screen{
        nav{
            li:hover{
                cursor: pointer;
                background-color: $menu-color;
            }
        }
    }
    .smaller-screen{
        nav{
            li:hover{
                a{
                    color: lighten($dark-font-color, 10%);
                }
            }
        }
    } 
}
@media (prefers-color-scheme: light){
*{
    font: 100% $font-stack;
    color: $font-color;
    line-height: 1.5;
}
body{
    background-color: lighten($background-color, 8%);
}
h1, h2{
    @extend p;
    padding-top: 0.8em;
    padding-bottom: 0.2em;
}
p{
    color: darken($font-color, 8%);
}
h1{
    @extend p;
    font-size: 1.4em;
}
h3{
    @extend p;
    font-weight: 600;
    font-size: 1.2em;
}
.info{
    background-color: lighten($background-color, 10%);
    box-shadow: 0 0px 1px gray;
    margin-bottom: 2em;
    border-radius: $border-radius;
}
.animation{
    background-color: lighten($background-color, 10%);
    box-shadow: 0 0px 1px gray;
    margin-bottom: 2em;
    border-radius: $border-radius;
}
}
@media (prefers-color-scheme: dark){
    .info{
        background-color: darken($dark-background-color, 6%);
        box-shadow: 0 0px 2px gray;
        margin-bottom: 2em;
        border-radius: $border-radius;
    }
    .animation{
        background-color: darken($dark-background-color, 6%);
        box-shadow: 0 0px 2px gray;
        margin-bottom: 2em;
        border-radius: $border-radius;
    }
}

.start-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-info{
    display: flex;
    justify-content: center;
}

@mixin image($width-img){
    width: $width-img;

    @if ($width-img > 300px){
        border-radius: 8px;
    }else{
        border-radius: 4px;
    }
}


@media (min-width: 1200px){
    .majken-pictures{
        display: flex;
        justify-content: center;
        gap: 0.8em;
        img{
            @include image(347px);
            height: 463px;
        }
    }
    .info{
        width: fit-content;
        padding: 2em 4.5em;
        max-width: 70ch;
    }
    .animation{
        width: fit-content;
        padding: 2em 4.5em;
        max-width: 300px;
    }
    .smaller-screen{
        display: none;
    }
    .big-header{
        display: block;
        margin-top: 3em;
    }
    .headmenu{
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 6em;
        padding-left: 9em;
        padding-right: 9em;
        padding-bottom: 1.5em;
        margin-bottom: 1em;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
        list-style: none;
        font-size: 1.1em;
    }
    @media (prefers-color-scheme: light){
    .headmenu{
        a{
            color: $menu-color;
            text-decoration: none;
            border: 1px solid transparent;
            border-radius: 8px;
            padding: 0.6em;
        } 
        } 
        .headmenu{
            a:hover{
                background-color: $menu-color;
                color: lighten($dark-font-color, 10%);
                border: 1px solid $menu-color;
            }
        }
    }
    }



@media (min-width: 801px) and (max-width: 1199px){
    .majken-pictures{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            @include image(302px);
        }
    }
    .big-header{
        display: none;
    }
    .info{
        width: 50ch;
        padding: 1.5em 2em;
    }
    .animation{
        width: 250px;
        padding: 1.5em 2em;
    }
    #open-menu{
        height: 60px;
    }
    @media (prefers-color-scheme: light){
    .smaller-screen{
        nav{
            background-color: $background-color;
            box-shadow: 0 0px 10px gray;
            position: absolute;
            right:0;
            top:0;
            height:100vh;
            width:100vw;
            display: none;
            z-index: 100;
        }
    }
    .smaller-screen {
            nav{
                background-color: lighten($dark-font-color, 8%);
                ul{
                width: 100%;
                list-style-type: none;
                text-align: center;
                margin: 0 auto;
                padding: 0;
                z-index: 100;
                }
                li{
                    padding: 0.8em 0;
                    width:100%;
                    color: $menu-color;
                    list-style: none;
                    text-decoration: none;
                }
                a{
                    color: $menu-color;
                    text-decoration: none;
                    padding: 0 1em;
                    background-color: transparent;
                    text-decoration: none;
                }
            }
        }
    .smaller-screen{
        display: flex;
        justify-content: center;
        nav{
            li:hover{
                cursor: pointer;
                background-color: $menu-color;
            }
        }
    }
    .smaller-screen{
        nav{
            li:hover{
                a{
                    color: lighten($dark-font-color, 10%);
                }
            }
        }
    }
    }
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        margin-left: 45em;
        padding: 10px;
    }
    .menu-btn{
        display: flex;
        align-items: center;
        padding: 6px 15px;
        margin-right: 5em;
        background-color: $menu-color;
        border: 2px solid $menu-color;
        color:#FFF4ED;
        cursor: pointer;
        border-radius: $border-radius;
    }
    .menu-btn{
        button{
            background-color: transparent;
        }
    }
    .menu-icon{
        margin-right: 10px;
        background-color: transparent;
    }

    .menu-btn:hover{
        background-color: $menu-color;
        border: 2px solid $background-color;
        box-shadow: 0 0px 5px gray;
    }
    .bars{
        display: block;
        width: 20px;
        height: 3px;
        background-color: white;
        margin: 5px 0;
    }
    .menu-text{
        font-size: 18px;
        color: white;
        background-color: transparent;
    }
    .close{
        margin: 1em 2.7em;
        padding: 10px 35px;
        @include button(150px);
        margin: 1em auto;
    }
    .cross1{
        width: 25px;
        transform: rotate(45deg);
        position: relative;
        top: 5px;
    }
    .cross2{
        width: 25px;
        transform: rotate(135deg);
        position: relative;
        top: -3px;
    }

    .menu-text{
        color:#FFF4ED;
    }
    .smaller-screen{
        display: block;
    }
    .flex-animation{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 300px) and (max-width: 800px){
    .majken-pictures{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            @include image(302px);
        }
    }
    .big-header{
        display: none;
    }
    .info{
        width: 40ch;
        padding: 1em 2em;
    }
    .animation{
        width: 200px;
        padding: 1em 2em;
    }
    h1{
        font-size: 1.4em;
    }
    h2{
        font-size: 1.3em;
    }
    #open-menu{
        height: 50px;
    }
    
    @media (prefers-color-scheme: light){
        .smaller-screen{
            nav{
                background-color: $background-color;
                box-shadow: 0 0px 10px gray;
                position: absolute;
                right:0;
                top:0;
                height:100vh;
                width:100vw;
                display: none;
                z-index: 100;
            }
        }
        .smaller-screen {
                nav{
                    background-color: lighten($dark-font-color, 8%);
                    ul{
                    width: 100%;
                    list-style-type: none;
                    text-align: center;
                    margin: 0 auto;
                    padding: 0;
                    z-index: 100;
                    }
                    li{
                        padding: 0.8em 0;
                        width:100%;
                        color: $menu-color;
                        list-style: none;
                        text-decoration: none;
                    }
                    a{
                        color: $menu-color;
                        text-decoration: none;
                        padding: 0 1em;
                        background-color: transparent;
                        text-decoration: none;
                    }
                }
            }
        .smaller-screen{
            display: flex;
            justify-content: center;
            nav{
                li:hover{
                    cursor: pointer;
                    background-color: $menu-color;
                }
            }
        }
        .smaller-screen{
            nav{
                li:hover{
                    a{
                        color: lighten($dark-font-color, 10%);
                    }
                }
            }
        }
        }
    .smaller-screen{
        display: flex;
        justify-content: space-between;
    }
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        margin-left: 65%;
        padding: 10px;
    }
    .menu-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $menu-color;
        border: 2px solid $menu-color;
        color: lighten($dark-font-color, 10%);
        cursor: pointer;
        border-radius: $border-radius;
        
        button{
            background-color: transparent;
        }
    }
    .menu-icon{
        margin-right: 10px;
        background-color: transparent;
    }
    .open{
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 4em;
        margin-right: 2em;
    }
    .menu-btn:hover{
        background-color: $menu-color;
        border: 2px solid $dark-font-color;
        box-shadow: 0 0px 5px gray;
    }
    .bars{
        display: block;
        width: 20px;
        height: 3px;
        background-color: white;
        margin: 5px 0;
    }
    .menu-text{
        font-size: 18px;
        color: white;
        background-color: transparent;
    }
    .close{
        @include button(100px);
        margin: 1em auto;
        padding: 10px 65px;
    }
    .cross1{
        width: 25px;
        transform: rotate(45deg);
        position: relative;
        top: 5px;
    }
    .cross2{
        width: 25px;
        transform: rotate(135deg);
        position: relative;
        top: -3px;
    }
    .menu-text{
        color: lighten($dark-font-color, 10%);
    }
    .flex-animation{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}